db/__pycache__/__init__.cpython-312.pyc
db/__pycache__/database.cpython-312.pyc
db/__pycache__/database.cpython-312.pyc
db/__pycache__/database.cpython-312.pyc
/db/__pycache__
db/__pycache__/database.cpython-312.pyc
/services/__pycache__
